@page "/"
@using System.Net
@using responsiveness.Models
@rendermode InteractiveServer
@inject UriMonitoringModel Model
@inject IUriMonitoringLauncher MonitoringLauncher
@inject NavigationManager Navigation

<PageTitle>Urls (@Model.GetProcesses().Count)</PageTitle>

<h3>Table of monitored URLs</h3>
<hr/>

<input placeholder="http://***, https://***" @bind="newUrl" />
<button @onclick="AddUrl">Add URL</button>
<table class="table">
    <thead>
    <tr>
        <th>Uri</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Total errors</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var process in Model.GetProcesses())
    {
        <tr class="@(EnsureStatus(process) switch {
                UriMonitoringStatus.Alive => "table-success",
                UriMonitoringStatus.DoesntResponse => "table-danger", 
                UriMonitoringStatus.Stopped => "table-warning",
                _ => "table-light"
            })">
            <td>@if (process.Status != UriMonitoringStatus.Stopped)
                {
                    <a href="" @onclick="() => NavigateToStatistics(process.Uri)" @onclick:preventDefault>
                        @process.Uri.ToString()
                    </a>
                }
                else
                {
                    <span>@process.Uri.ToString()</span>
                }
            </td>
            <td>TO DO: Progress bar</td>
            <td>@process.Status</td>
            <td>@process.TotalErrorCount</td>
            <td>
                <button @onclick="() => process.Pause()" class="btn btn-sm btn-secondary" type="button" data-toggle="tooltip" data-placement="top" title="Pause">
                    <i class="fa fa-pause"></i> Pause
                </button>
            </td>
            <td>
                <button @onclick="() => process.Resume()" class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Resume">
                    Resume
                </button>
            </td>
            <td>
                <button @onclick="() => RemoveUrl(process.Uri)" class="btn btn-sm btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                    Delete
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private string? newUrl;

    private void AddUrl()
    {
        if (Uri.IsWellFormedUriString(newUrl, UriKind.Absolute))
        {
            var uri = new Uri(newUrl);
            Model.AddUriMonitoring(uri, MonitoringLauncher.LaunchProcess(uri));
            newUrl = string.Empty;
        }
        else
        {
            newUrl = "Invalid URL";
        }
    }

    private static UriMonitoringStatus EnsureStatus(UriMonitoringProcess process)
    {
        process.EnsureHealthy();
        return process.Status;
    }
    
    private void RemoveUrl(Uri uri) => Model.StopUriMonitoring(uri);

    private void NavigateToStatistics(Uri uri)
    {
        var encodedUri = WebUtility.UrlEncode(uri.ToString());
        Navigation.NavigateTo($"/uri/{encodedUri}");
    }
}
